:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

.gallery {
  display: grid;
  max-width: 1440px;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 24px;
  padding: 24px 156px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}

.gallery-item {
  width: 100%;
}

.gallery-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.gallery-link:hover {
  cursor: zoom-in;
}

.gallery-image {
  height: 200px;
  width: 100%;
  object-fit: cover;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery-image:hover {
  transform: scale(1.03);
}
